<div id = "home">
	<div id = "text">
		<form method="post" action="/weather">
   			<h1>Weather App!</h1>
    		<h2>Enter your location by zipcode:</h2>
    		<input type="text" name="post[location]" />
    		<input type="submit" name="Search" />
		</form>
	</div>
</div>